{% extends 'base.html' %}

{% block title %}Planner{% endblock %}

{% block content %}
<div id="month-header">
  <h1 id="month-holder"></h1>
  <h1 id="year-holder"></h1>
  <button onclick="decrementMonth()" id="decrement">&#60 </button>
  <button onclick="incrementMonth()" id="increment" style="float: right;">></button>
</div>
<div id="date-labels">
  <h4 class="lab">Su.</h4>
  <h4 class="lab">Mo.</h4>
  <h4 class="lab">Tu.</h4>
  <h4 class="lab">We.</h4>
  <h4 class="lab">Th.</h4>
  <h4 class="lab">Fr.</h4>
  <h4 class="lab">Sa.</h4>
</div>
<div id="calendar">
  <div id="sun" class="day-col">
    
  </div>
  <div id="mon" class="day-col">
    
  </div>
  <div id="tues" class="day-col">
    
  </div>
  <div id="wed" class="day-col">
    
  </div>
  <div id="thur" class="day-col">
    
  </div>
  <div id="fri" class="day-col">
    
  </div>
  <div id="sat" class="day-col">
    
  </div>
</div>
<script type="text/javascript">
  const calendar = document.getElementById("calendar")
  const holder = document.getElementById("month-holder")
  const yearHolder = document.getElementById("year-holder")
  let d = new Date()
  const monthConversion = {
    "1": "January",
    "2": "February",
    "3": "March",
    "4": "April",
    "5": "May",
    "6": "June",
    "7": "July",
    "8": "August",
    "9": "September",
    "10": "October",
    "11": "November",
    "12": "December"
  }
  const days = ["sun", "mon", "tues", "wed", "thur", "fri", "sat"]

  function incrementMonth(){
    d = new Date(d).setMonth(new Date(d).getMonth() + 1)
    renderCalendar(new Date(d))
  }

  function decrementMonth(){
    d = new Date(d).setMonth(new Date(d).getMonth() - 1)
    renderCalendar(new Date(d))
  }
  
  function renderCalendar(date){
    console.log(date)
    const monthVal = date.getMonth() + 1
  
    holder.innerHTML = monthConversion[monthVal.toString()]
    yearHolder.innerHTML = date.getFullYear()

    // clear calendar (for change)
    const holders = document.getElementsByClassName("day-col")
    for(let i=0; i<holders.length; i++){
      holders[i].innerHTML = ""
    }
  
    // iterate through days
    for(let c= new Date(date.getFullYear(), date.getMonth(), 1); c<new Date(date.getFullYear(), date.getMonth() + 1, 1); c.setDate(c.getDate() + 1))
    {
      let day = new Date(c).getDay()
      if (new Date(c).getDate() != new Date().getDate() || new Date(c).getMonth() != new Date().getMonth() || new Date(c).getFullYear() != new Date().getFullYear()) {
        document.getElementById(days[day]).innerHTML += `
        <h4 class="date"><a href="#">${new Date(c).getDate()}</a></h4>
        `
      }
      else {
        document.getElementById(days[day]).innerHTML += `
        <h4 id="red"><a href="#">${new Date(c).getDate()}</a></h4>
        `
      }
    }
    const firstDay = new Date(date.getFullYear(), date.getMonth(), 1)
    const ld = new Date(date.getFullYear(), date.getMonth()+1,1)
    const lastDay = new Date(ld.setDate(ld.getDate() - 1))
    if (lastDay.getDay() != 6){
      let counter = lastDay.getDay() + 1
      while (counter <= 6){
        document.getElementById(days[counter]).innerHTML += `
        <h4>.</h4>
        `
        counter++
      }
    }
  }
  window.onload = () => {
    // const d = new Date()
    renderCalendar(d)
  }
</script>
{% endblock %}