#month-holder {
  text-align: center;
}

#year-holder {
  text-align: center;
}

body {
  margin: 0;
}

#month-header {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-color: red;
}

#calendar {
  margin-top: 1rem;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

/* .date {
  margin-right: 1.5rem;
} */

.day-col {
  display: inline-block;
  margin-right: 7.5rem;
  
}